.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.chart_div1 {
  width: 32%;
  /* justify-content: center; */
  padding-top: 0px;
  padding-bottom: 0px;
  /*background-color: #AFFBD5;*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chart_div2 {
  width: 32%;
  /* justify-content: center; */
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: #F9FCBC; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chart_div3 {
  width: 32%;
  /* justify-content: center; */
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: #C7FFBA; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 700px) {
  .row {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
  }
}
